<body>
<div class="wrapper">
  <nav class="navbar navbar-default"style="background-color:#3B5998;";>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navber" aria-expanded="false">
          <span class="sr-only">ナビゲーションの切替</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Facebook</a>
      </div><!-- /.navbar-header -->
  
      <div class="collapse navbar-collapse" id="Navber">
        <ul class="nav navbar-nav">
       <li><%= link_to current_user.name,user_path(current_user.id)%></li>
        <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/blogs">ホーム</a></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="検索..." aria-label="検索...">
          </div>
          <button type="submit" class="btn btn-success">検索</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<h1>新規投稿</h1>
<div>
<%= render 'form', blog: @blog %>
<%= link_to 'ホームへ戻る', blogs_path %>
</div>

<footer>
<p>(c)Facebook</p>
</footer>
</div>
</body>